.herotag{
/* border: 2px solid brown; */
margin-top: -700px;
margin-bottom: -80px;
}
.Processtag{
/* border: 2px solid brown; */
margin-top: -50px;
margin-bottom: -80px;

}
.Timelinetag{
/* border: 2px solid rgb(25, 232, 28); */
margin-bottom: -20px;
}
.Difflinetag{
/* border: 2px solid rgb(25, 232, 28); */
margin-top: -280px;
}